<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/22b4dbd445.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" media="screen" />

    <title>{{meta_title}}</title>

    {{!-- for SEO meta data --}}
    {{ghost_head}}
</head>

{{> "header"}}

<body class="{{body_class}}">

    <main class="main">
        {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
    </main>

    {{> "footer"}}

    <script src="https://cdn.jsdelivr.net/npm/searchinghost@1.1.0/dist/searchinghost.min.js"></script>
    <script>
        var searchinGhost = new SearchinGhost({
            key: 'a35c88d4e853a6dda1817722bf',
            template: function (post) {
                return `<a href="${post.url}">${post.title}</a>`
            }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{asset "js/index.js"}}"></script>

    {{!-- additional script output --}}
    {{ghost_foot}}
</body>

</html>