{{!< default}}

<div class="container">
    <div class="row">
        <div class="col s12">
            {{#post}}

            <article class="gh-article {{post_class}}">

                <header class="gh-header gh-canvas">

                    {{#if primary_tag}}
                    <section class="post-full-tags">
                        {{#primary_tag}}
                        <a href="{{url}}">{{name}}</a>
                        {{/primary_tag}}
                    </section>
                    {{/if}}

                    <h1 class="gh-title">{{title}}</h1>

                    {{#if custom_excerpt}}
                    <p class="gh-excerpt flow-text">{{custom_excerpt}}</p>
                    {{/if}}

                    <div class="gh-post-authors">
                        Written by {{#foreach authors}}<a href="{{url}}">{{name}}</a>{{/foreach}}
                        <span class="gh-post-meta"><time
                                datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                            <span class="bull">&bull;</span> {{reading_time}}</span>
                    </div>

                    {{#if feature_image}}
                    <img class="gh-feature-image responsive-img" src="{{feature_image}}" alt="{{title}}" />
                    {{/if}}

                </header>

                <div class="gh-content gh-canvas flow-text">
                    {{content}}
                </div>

                <footer class="gh-footer gh-canvas">


                    {{!-- comment code for disqus comments --}}
                    <div id="disqus_thread"></div>
                    <script>
                        var disqus_config = function () {
                            this.page.url = "{{url absolute="true"}}";
                            this.page.identifier = "ghost-{{comment_id}}"
                        };
                        (function () {
                            var d = document, s = d.createElement('script');
                            s.src = 'https://https-abitofcoding-com.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                    </script>

                </footer>

            </article>
        </div>
    </div>
</div>

{{/post}}